aiohttp==3.7.4.post0
amqp==5.0.6
APScheduler==3.7.0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
compact==0.1.2
configparser==5.0.2
crayons==0.4.0
curlify==2.2.1
cycler==0.10.0
Django==3.2.6
django-appconf==1.0.5
django-bootstrap3==21.1
django-compressor==2.4.1
django-countries==7.2.1
django-filter==21.1
django-formset-js==0.5.0
django-hijack==3.1.3
django-jquery-js==3.1.1
django-markup==1.5
django-otp==1.1.1
django-restframework==0.0.1
django-statici18n==2.1.1
djangorestframework==3.12.4
djangorestframework-api-key==2.1.0
dnspython==1.16.0
et-xmlfile==1.1.0
facebook-business==12.0.0
Flask==1.1.2
Flask-AutoIndex==0.6.6
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
Flask-Silk==0.2
future==0.18.2
greenlet==1.0.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.3.1
kombu==5.1.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.4.2
msgpack==1.0.2
multidict==5.2.0
mutagen==1.45.1
numpy==1.20.3
openpyxl==3.0.9
pandas==1.2.4
peewee==3.13.3
Pillow==8.3.1
pretix==4.5.0.dev0
psutil==5.8.0
pycountry==20.7.3
pycparser==2.21
pymongo==3.11.3
pynvim==0.4.3
pyparsing==2.4.7
PyPDF2==1.26.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-decouple==3.4
python-u2flib-server==4.0.1
python-wordpress-xmlrpc==2.3
pytz==2021.1
pyuca==1.2
rcssmin==1.0.6
redis==3.5.3
reportlab==3.6.2
requests==2.25.1
rjsmin==1.1.0
selenium==3.141.0
sentry-sdk==0.19.4
sepaxml==2.4.1
six==1.15.0
slimit==0.8.1
soupsieve==2.2.1
spotify-dl==7.6.0
spotipy==2.16.1
sqlparse==0.4.1
static3==0.7.0
stripe==2.42.0
tenacity==7.0.0
text-unidecode==1.3
tlds==2021112800
tqdm==4.62.3
typing-extensions==3.10.0.2
tzlocal==2.1
urllib3==1.26.3
vat-moss-forked==2020.3.20.0.11.0
vine==5.0.0
vobject==0.9.6.1
webauthn==0.4.7
webdriver-manager==3.5.1
websocket-client==0.58.0
Werkzeug==1.0.1
XlsxWriter==3.0.1
yarl==1.7.0
youtube-dl==2021.4.26
zeep==4.1.0
