{% extends 'Main.html' %}

{% block title %}
    Details
{% endblock %}

{% block css %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Details</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><h5>Attributes</h5></th>
                            <th><h5>Data</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>Display Name</b></td>
                            {% if client.Display_name %}
                                <td>{{ client.Display_name }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Prefix</b></td>

                            {% if client.Prefix %}
                                <td>{{ client.Prefix }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>First</b></td>

                            {% if client.First %}
                                <td>{{ client.First }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Middle</b></td>

                            {% if client.Middle %}
                                <td>{{ client.Middle }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Last</b></td>

                            {% if client.Last %}
                                <td>{{ client.Last }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Suffix</b></td>

                            {% if client.Suffix %}
                                <td>{{ client.Suffix }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td><b>Nickname</b></td>

                            {% if client.Nickname %}
                                <td>{{ client.Nickname }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Job</b></td>

                            {% if client.Job %}
                                <td>{{ client.Job }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Title</b></td>

                            {% if client.Title %}
                                <td>{{ client.Title }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Company</b></td>

                            {% if client.Company %}
                                <td>{{ client.Company }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Department</b></td>

                            {% if client.Department %}
                                <td>{{ client.Department }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Business Phone</b></td>

                            {% if client.Business_Phone %}
                                <td>{{ client.Business_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Car Exchange Phone</b></td>

                            {% if client.Car_Exchange_Phone %}
                                <td>{{ client.Car_Exchange_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Cell Phone</b></td>

                            {% if client.Cell_Phone %}
                                <td>{{ client.Cell_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Direct Phone</b></td>

                            {% if client.Direct_Phone %}
                                <td>{{ client.Direct_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Direct Phone 2</b></td>

                            {% if client.Direct_Phone2 %}
                                <td>{{ client.Direct_Phone2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Fax Phone</b></td>

                            {% if client.Fax_Phone %}
                                <td>{{ client.Fax_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Home Phone</b></td>

                            {% if client.Home_Phone %}
                                <td>{{ client.Home_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td><b>Home Phone 2</b></td>

                            {% if client.Home_Phone2 %}
                                <td>{{ client.Home_Phone2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Home Fax Phone</b></td>

                            {% if client.Home_Fax_Phone %}
                                <td>{{ client.Home_Fax_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>IPhone Phone</b></td>

                            {% if client.IPhone_Phone %}
                                <td>{{ client.IPhone_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Main Phone</b></td>

                            {% if client.Main_Phone %}
                                <td>{{ client.Main_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Mobile Phone</b></td>

                            {% if client.Mobile_Phone %}
                                <td>{{ client.Mobile_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Mobile Phone 2</b></td>

                            {% if client.Mobile_Phone2 %}
                                <td>{{ client.Mobile_Phone2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Mobile Phone 3</b></td>

                            {% if client.Mobile_Phone3 %}
                                <td>{{ client.Mobile_Phone3 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>None Phone</b></td>
                            {% if client.None_Phone %}
                                <td>{{ client.None_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Office Phone</b></td>

                            {% if client.Office_Phone %}
                                <td>{{ client.Office_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other Phone</b></td>

                            {% if client.Other_Phone %}
                                <td>{{ client.Other_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other Phone 2</b></td>

                            {% if client.Other_Phone2 %}
                                <td>{{ client.Other_Phone2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other Phone 3</b></td>

                            {% if client.Other_Phone3 %}
                                <td>{{ client.Other_Phone3 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other Fax Phone</b></td>

                            {% if client.Other_Fax_Phone %}
                                <td>{{ client.Other_Fax_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Tel Phone</b></td>

                            {% if client.Tel_Phone %}
                                <td>{{ client.Tel_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Trading Phone</b></td>

                            {% if client.Trading_Phone %}
                                <td>{{ client.Trading_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work Phone</b></td>

                            {% if client.Work_Phone %}
                                <td>{{ client.Work_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work Phone 2</b></td>

                            {% if client.Work_Phone2 %}
                                <td>{{ client.Work_Phone2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work Fax Phone</b></td>

                            {% if client.Work_Fax_Phone %}
                                <td>{{ client.Work_Fax_Phone }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>


                        <tr>
                            <td><b>Direct Email</b></td>

                            {% if client.Direct_Email %}
                                <td>{{ client.Direct_Email }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Email Email</b></td>

                            {% if client.Email_Email %}
                                <td>{{ client.Email_Email }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Home Email</b></td>

                            {% if client.Home_Email %}
                                <td>{{ client.Home_Email }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>None Email</b></td>

                            {% if client.None_Email %}
                                <td>{{ client.None_Email }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>


                        <tr>
                            <td><b>None Email2</b></td>

                            {% if client.None_Email2 %}
                                <td>{{ client.None_Email2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other Email</b></td>

                            {% if client.Other_Email %}
                                <td>{{ client.Other_Email }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other Email2</b></td>

                            {% if client.Other_Email2 %}
                                <td>{{ client.Other_Email2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Personal Email</b></td>

                            {% if client.Personal_Email %}
                                <td>{{ client.Personal_Email }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>


                        <tr>
                            <td><b>Work Email</b></td>

                            {% if client.Work_Email %}
                                <td>{{ client.Work_Email }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Work Email(2)</td>

                            {% if client.Work_Email2 %}
                                <td>{{ client.Work_Email2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Work Email(3)</td>

                            {% if client.Work_Email3 %}
                                <td>{{ client.Work_Email3 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Home address</b></td>

                            {% if client.Home_address %}
                                <td>{{ client.Home_address }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Home Street</b></td>

                            {% if client.Home_Street %}
                                <td>{{ client.Home_Street }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Home City</b></td>

                            {% if client.Home_City %}
                                <td>{{ client.Home_City }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Home ZIP</b></td>

                            {% if client.Home_ZIP %}
                                <td>{{ client.Home_ZIP }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Home State</b></td>

                            {% if client.Home_State %}
                                <td>{{ client.Home_State }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Home Country</b></td>

                            {% if client.Home_Country %}
                                <td>{{ client.Home_Country }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>


                        <tr>
                            <td><b>Other Address</b></td>

                            {% if client.Other_Address %}
                                <td>{{ client.Other_Address }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other_Street</b></td>

                            {% if client.Other_Street %}
                                <td>{{ client.Other_Street }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other_City</b></td>
                            {% if client.Other_City %}
                                <td>{{ client.Other_City }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other_ZIP</b></td>

                            {% if client.Other_ZIP %}
                                <td>{{ client.Other_ZIP }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Other_State</b></td>

                            {% if client.Other_State %}
                                <td>{{ client.Other_State }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_Address</b></td>

                            {% if client.Work_Address %}
                                <td>{{ client.Work_Address }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_Street</b></td>

                            {% if client.Work_Street %}
                                <td>{{ client.Work_Street }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_City</b></td>

                            {% if client.Work_City %}
                                <td>{{ client.Work_City }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_ZIP</b></td>

                            {% if client.Work_ZIP %}
                                <td>{{ client.Work_ZIP }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_State</b></td>

                            {% if client.Work_State %}
                                <td>{{ client.Work_State }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_Country</b></td>

                            {% if client.Work_Country %}
                                <td>{{ client.Work_Country }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>


                        <tr>
                            <td><b>Work_Address2</b></td>

                            {% if client.Work_Address2 %}
                                <td>{{ client.Work_Address2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_Street2</b></td>

                            {% if client.Work_Street2 %}
                                <td>{{ client.Work_Street2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_City2</b></td>

                            {% if client.Work_City2 %}
                                <td>{{ client.Work_City2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_ZIP2</b></td>

                            {% if client.Work_ZIP2 %}
                                <td>{{ client.Work_ZIP2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_State2</b></td>

                            {% if client.Work_State2 %}
                                <td>{{ client.Work_State2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Work_Country2</b></td>

                            {% if client.Work_Country2 %}
                                <td>{{ client.Work_Country2 }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Birthday</b></td>

                            {% if client.Birthday %}
                                <td>{{ client.Birthday }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Note</b></td>
                            {% if client.Note %}
                                <td>{{ client.Note }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>


                        <tr>
                            <td><b>Group</b></td>

                            {% if client.getGroup %}
                                <td>{{ client.getGroup }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Creation</b></td>

                            {% if client.Creation %}
                                <td>{{ client.Creation }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Modification</b></td>

                            {% if client.Modification %}
                                <td>{{ client.Modification }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>UID</b></td>

                            {% if client.UID %}
                                <td>{{ client.UID }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Contact_Type</b></td>

                            {% if client.Contact_Type %}
                                <td>{{ client.Contact_Type }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        {#                        ---------------------------------------#}
                        <tr>
                            <td><b>In_the_Class</b></td>

                            {% if client.In_the_Class %}
                                <td>{{ client.In_the_Class }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>NO</b></td>

                            {% if client.NO %}
                                <td>{{ client.NO }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>FINAL_REC</b></td>

                            {% if client.FINAL_REC %}
                                <td>{{ client.FINAL_REC }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Candidate_Ranking</b></td>

                            {% if client.Candidate_Ranking %}
                                <td>{{ client.Candidate_Ranking }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Interview_TARS</b></td>

                            {% if client.Interview_TARS %}
                                <td>{{ client.Interview_TARS }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Super_Vote</b></td>

                            {% if client.Super_Vote %}
                                <td>{{ client.Super_Vote }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Yes_Total</b></td>

                            {% if client.Yes_Total %}
                                <td>{{ client.Yes_Total }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Reader_TARS</b></td>

                            {% if client.Reader_TARS %}
                                <td>{{ client.Reader_TARS }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>


                        <tr>
                            <td><b>Total_Avg_TARS</b></td>

                            {% if client.Total_Avg_TARS %}
                                <td>{{ client.Total_Avg_TARS }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td><b>Gender</b></td>

                            {% if client.Gender %}
                                <td>{{ client.Gender }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Ethnicity</b></td>

                            {% if client.Ethnicity %}
                                <td>{{ client.Ethnicity }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Industry</b></td>

                            {% if client.Industry %}
                                <td>{{ client.Industry }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>CUP_Corp_Partner</b></td>

                            {% if client.CUP_Corp_Partner %}
                                <td>{{ client.CUP_Corp_Partner }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Recommendation_By</b></td>

                            {% if client.Recommendation_By %}
                                <td>{{ client.Recommendation_By }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Introduced_to_CUP_via</b></td>

                            {% if client.Introduced_to_CUP_via %}
                                <td>{{ client.Introduced_to_CUP_via }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        {% if data %}
                            {% for entry in data %}
                                <tr>
                                    <td><b>{{ entry.field.first.field_name }}</b></td>
                                    {% if entry.value %}
                                        <td>{{ entry.value }}</td>
                                    {% else %}
                                        <td>N/A</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}


                        </tbody>
                    </table>

                    <a href="{% url 'dashboard' %}" class="btn btn-lg btn-primary"> Back to Dashboard</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

